<div class="about-container" id="aboutUs">
  <div class="container py-5">
    <div class="row">
      <!-- Imagen de la Empresa -->
      <div class="col-lg-6 col-md-6">
        <div class="about-image">
          <img src="imagenes/foodtruck.jpg" alt="Nuestro Carrito" class="img-fluid">
        </div>
      </div>
      <!-- Información de la Empresa -->
      <div class="col-lg-6 col-md-6 d-flex flex-column justify-content-center">
        <h2 class="text-danger aboutUs">Acerca de Nosotros</h2>
        <p class="text-dark">
          ¡Bienvenidos a Comer y Llevar! Somos un carrito de comida al paso dedicado a ofrecer las mejores delicias para llevar en la ciudad. Desde nuestros deliciosos bocadillos hasta nuestros postres frescos, cada plato es preparado con los ingredientes más frescos y de la mejor calidad.
        </p>
        <p class="text-dark">
          Nuestro objetivo es brindar a nuestros clientes una experiencia rápida, conveniente y sabrosa. Ya sea que estés en movimiento o simplemente busques una comida rápida y deliciosa, estamos aquí para satisfacer tus antojos con una sonrisa.
        </p>
        <p class="text-dark">
          ¡Gracias por elegirnos! Esperamos verte pronto y hacer tu día un poco más delicioso.
        </p>
      </div>
    </div>
  </div>
</div>

  
  